@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page locations */

.timing-rental {
  @apply flex items-center justify-center p-1 border border-black sm:p-2 grow;
}
.price-rental {
  @apply flex items-center justify-end pr-1 border border-black sm:justify-end sm:p-2 sm:pr-6 grow;
}

/* google map */


.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
/* .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} */
